body{
  background-color: : blue;
}
a {color : #FF4F4F}
.imp {font-size: 40px; color:#F7931E;}
h2{color: #F7931E}
p{  font-size: 15px; color: #939396;}
li {  font-size: 15px; color: #939396;}
dd {  font-size: 15px; color: #939396;}
tr {  font-size: 15px; color: #939396;}
caption{  font-size: 15px; color: #939396;}
dt {  font-size: 15px; color: #FFF86B;}
